<!-- <app-menu></app-menu> -->

<div class="setting">
    <p-panel header="Setting">
        <div class="ui-g">
            <label for="notify" class="ui-g-12 ui-md-2">Email to notify</label>
            <input type="text" id="notify" placeholder="Enter Your Email Address" class="ui-g-12 ui-md-10" >
        </div>
        
        <div class="ui-g" style="margin-top: 5px;">
            <label for="backup" class="ui-g-12 ui-md-2">Force Backup</label>
            <button pButton type="button" label="Backup System Now" class="ui-g-12 ui-md-10"></button>
        </div>

    </p-panel>
</div>
